.content{
  width:1330px; 
  height:1070px; 
  background-image: linear-gradient(#C9C9D1, #030a17);  
  position:relative;
  margin: auto; 
  border: 1px solid black;
  }

.content div{
  position: absolute;
}

/*.block1 {
  width:1330px; 
  height:450px; 
  background-color: #8dbfbe;  
}

.block2 {
  width:400px; 
  height:450px; 
  position:relative; 
  background-color: yellowgreen; 
  margin-left: 400px; 
  margin-top: 250px;
}*/
/*START DATE*/
/*.block3 {
  width:300px; 
  height:480px; 
  position:relative; 
  background-image: linear-gradient(black, #8dbfbe);
  box-shadow: 20px 0 0 -10px #7b7ba7;
  margin-top: 420px;
  margin-left: 300px; 
}

.date{
font-size: 25px;
 margin-left: 20px;
 margin-right: 20px;
  font-family: 'Staatliches', cursive;
  color: white;
  animation: fadein 2.5s ease-in-out;
}

/*START TICKET*/
.ticket{
  font-size: 20px;
 margin-left: 20px;  
 margin-top: 200px;
 margin-right: 20px;
 color: white;
  font-family: 'Nunito', sans-serif;
  animation: fadein 2.5s ease-in-out;
 */
}
/*END TICKET*/

@keyframes fadein {
   0% {opacity: 0;}
   100% {opacity: 1;}
}
/*END DATE*/


/*START:  THIN BLOCK RECTANGLES*/
.block4 {
  width:5px; 
  height:490px; 
  position:relative; 
  background-color: black; 
 bottom: 0px;
 margin-left: 290px;
}

.block5 {
  width:5px; 
  height:500px; 
  position:relative; 
  background-color: black; 
 bottom: 0px;
 margin-left: 280px;
}
.block6 {
 width:520px; 
 height:5px; 
 position:relative; 
 background-color: black; 
 margin-top: 610px;
 margin-left: 280px;
}
.block7 {
 width:520px; 
 height:5px; 
 position:relative; 
 background-color: white; 
 margin-top: 750px;
 margin-left: 0px;
}

.block8 {
  width:70px; 
  height:250px; 
  position:relative; 
  background-color: black; 
 bottom: 0px;
}

.block9 {
  width:90px; 
  height:150px; 
  position:relative; 
  background-color: white; 
 bottom: 0px;
 margin-left: 10%;
}

.block10 {
  width:20px; 
  height:220px; 
  position:relative; 
  background-color: black; 
 bottom: 0px;
 margin-left: 210px;
}

.block11 {
  width:40px; 
  height:350px; 
  position:relative; 
  background-color: black; 
 bottom: 0px;
 margin-left: 550px;
}

.block12 {
  width:220px; 
  height:100px; 
  position:relative; 
  background-color: black; 
 bottom: 0px;
 margin-left: 320px;
}

.block13 {
  width:40px; 
  height:400px; 
  position:relative; 
  background-color: whitesmoke; 
 bottom: 0px;
 margin-left: 620px;
}
.block14 {
  width:100px; 
  height:150px; 
  position:relative; 
  background-color: black; 
 bottom: 0px;
 margin-left: 680px;
}

.block15 {
  width:80px; 
  height:1070px; 
  position:relative; 
  background-color: whitesmoke; 
opacity: 0.5;
 bottom: 0px;
 margin-left: 980px;
}

.block16 {
  width:20px; 
  height:1070px; 
  position:relative; 
  background-color: whitesmoke; 
opacity: 0.5;
 bottom: 0px;
 margin-left: 1080px;
}


/*ANIMATION*/
.block8, .block10, .block12, .block14 {
  animation: slideup 2.5s ;
}

@keyframes slideup {

0%  {bottom:-700px}
  50% {bottom:60px}
   100% {bottom:0px}

  }

.block9,.block11, .block13 {
  animation: slideup1 4s ;
}

@keyframes slideup1 {

0%  {bottom:-800px}
  50% {bottom:90px}
   100% {bottom:0px}

  }
  /*END ANIMATION*/
/*END:  BOTTOM BLOCKS*/


/*WRITING PART
-----------
-
------------
-
--
------------*/


/*START CUSTOM FONT "WHAT"*/
/*START W*/
.letter-w {
  width:400px; 
  height:400px; 
  transform: scaleY(-1) rotate(90deg);
}

.letter-w-top{
    width:390px; 
    height:100px;
    box-shadow: 10px 10px 0 0 white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 100px;
    border: 10px solid: black;
    background-color:  black; 
}
.letter-w-middle{
    width:390px; 
    height:100px;
    box-sizing: border-box;
    box-shadow: 10px 0px 0 0 white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 10px solid: black;
    background-color:  black;
    bottom: 150px;
}
.letter-w-bottom{
    width:390px; 
    height:100px;
    box-sizing: border-box;
    box-shadow: 10px 10px 0 0 white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 100px;
    border: 10px solid: black;
    background-color:  black;
    bottom: 0px;
    transform: scaleY(-1);
}
.letter-w-stem{
    top: 100px;
    width: 100px;
    height: 200px ;
    box-sizing: border-box;
    box-shadow: 20px 0 0 -10px white;
    border: 10px solid: black;
    background-color:  black;
}
/*END W*/

/*START H */
.letter-h{
width: 50px;
height: 50px;
 margin-left: 410px;
}
.letter-h-stem {
    top: 0px;
    width: 100px;
    height: 400px ;
    box-sizing: border-box; 
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 20px 0 0 -10px white;
    border: 10px solid:black;
    background-color: black;      
}
.letter-h-stem2{
  top: 0px;
    left: 190px;
    width: 100px;
    height: 400px ;
    box-sizing: border-box; 
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 20px 0 0 -10px white;
    border: 10px solid:black;
    background-color: black;      
}
.letter-h-middle{
  top: 150px;
    left: 100px;
    width:90px;
    height:100px;
    box-sizing: border-box;
    box-shadow: 10px 10px 0 0 white;
    border: 10px solid black;
    background-color: black;    
}
/* END H */


.letter-a{
   margin-left: 720px;
}
/*START A */
.letter-a-top{
  width:290px; 
  height:100px;
  box-sizing: border-box;
  box-shadow: 10px 10px 0 0 white;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border: 10px solid black; 
  background-color: black ;   
}
.letter-a-stem1 {
    top: 100px;
    width: 100px;
    height: 300px ;
    box-sizing: border-box; 
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 20px 0 0 -10px white;
    background-color: black;
    border: 10px solid black;
}
.letter-a-stem2{
  top: 100px;
    left: 190px;
    width: 100px;
    height: 300px; 
    box-sizing: border-box; 
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 20px 0 0 -10px white;
    background-color: black;
    border: 10px solid black;
}
.letter-a-middle{
  top: 150px;
    left: 100px;
    width:100px;
    height:100px;
    box-sizing: border-box;
    box-shadow: 10px 10px 0 0 white;
    border: 10px solid black;
    background-color: black;
}
/*END A*/

/*START T */

.letter-t{
margin-left: 1020px;

}
.letter-t-top{
  width:290px; 
    height:100px;
    box-sizing: border-box;
    box-shadow: 10px 10px 0 0 white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 100px;
    border: 10px solid black;
    background-color: black;   
}
.letter-t-stem{
    top: 100px;
    left: 90px;
    width: 100px;
    height: 300px ;
    box-sizing: border-box; 
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 20px 0 0 -10px white;
    border: 10px solid:black;
    background-color: black;  
}
/*END T*/

.comes{

  font-size: 50px;
          margin-bottom: 90px;
            margin-top: 400px ; 
            margin-left: 20px;             
}
.after{

  
            margin-top: 190px ; 
            margin-left: 10px;   
}
.the{
   margin-bottom: 90px;
            margin-top: 220px ; 
            margin-left: 100px;   
}
.envi{
    margin-bottom: 90px;
            margin-top: 260px ; 
            margin-left: 100px; 
}

.subtitle{
   margin-bottom: 90px;
            margin-top: 160px ; 
            margin-left: 10px; 
            margin-right: 500px;
}

.section1{

}


