.container{
  width:800px; 
  height:900px; 
  background: #C9C9D1;
  box-shadow: 30px 30px 30px -10px #7b7ba7;
  margin: auto;
  
  }

.block1 {
  width:400px; 
  height:450px; 
  
  position:relative; 
  background-color: #8dbfbe;  
}
.block1 div{
  position: absolute;
}

.block2 {
  width:400px; 
  height:450px; 
  position:relative; 
  background-color: yellowgreen; 
  margin-left: 400px; 
  margin-bottom: 200px;
}


.what{

   font-size: 150px;
   font-family: 'Nunito', sans-serif;
         
}

.comes{
 margin-bottom: 90px;
            margin-top: 50px ; 
            margin-right: 100px; 
            
}